<% @page_title = "このサイトについて" %>

<h1><%= @page_title %></h1>

<p>自民党総裁選に立候補する意向を固めた菅義偉官房長官（71）に対し、同党の細田派と麻生派は8月31日、菅氏を支持する方針を決めた。主要派閥の多くが菅氏支持に傾きつつあり、国会議員票での争いを優位に進められる情勢となっている。石破茂元幹事長（63）や岸田文雄政調会長（63）は9月1日に立候補を表明する。</p>